@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p,
li {
  color: #595959;
}

h1 {
  font-size: clamp(3rem, 7vw, 5rem);
  margin-bottom: 2.5rem;
}

h2 {
  font-size: clamp(2.4rem, 7vw, 3.2rem);
  margin-bottom: 2rem;
}

h3 {
  font-size: clamp(2rem, 7vw, 2.8rem);
  margin-bottom: 1.5rem;
}

h4 {
  font-size: clamp(1.8rem, 7vw, 2rem);
  margin-bottom: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #060606;
}

a {
  color: #595959;
  text-decoration: none;
}

p {
  margin-bottom: 1.6rem;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.btn {
  min-width: 15rem;
  text-align: center;
  padding: 1.2rem 1.6rem;
  transition: 0.5s ease;
  display: inline-block;
}
.btn--accent {
  background-color: #5924ec;
  color: #fff;
}
.btn--accent:hover {
  background-color: #4312cb;
}

.footer {
  text-align: center;
  padding-bottom: 5rem;
}
.footer .branding__footer {
  width: 4rem;
  height: 4rem;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  background-color: #5924ec;
}
.footer ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}

.header {
  padding: 2rem 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: 0.5s ease;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  gap: 3rem;
}
.header nav ul li a {
  color: #fff;
}
.header .branding__header {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #5924ec;
  color: #fff;
}

.header.bg-white {
  background: #fff;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.06);
}
.header.bg-white .branding__header {
  color: #fff;
}
.header.bg-white a {
  color: #060606;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://ydirection.com/Destiny/assets/images/hero3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  background-position: center, center;
  margin-bottom: 10rem;
}
.banner__content {
  position: absolute;
  left: calc((100vw - 1200px) / 2);
  top: 50%;
  transform: translateY(-60%);
  max-width: 56rem;
  color: #fff;
}
.banner__content p {
  color: #fff;
}

.services__header {
  text-align: center;
  max-width: 85rem;
  width: 100%;
  margin: 0 auto;
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  margin: 8rem 0;
}
.services__grid__item {
  text-align: center;
  isolation: isolate;
}
.services__grid__item i {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
  border-radius: 50%;
  color: #fff;
  font-size: 3rem;
  background-color: #5924ec;
  position: relative;
  margin-bottom: 3rem;
}
.services__grid__item i:hover span {
  border: 1px solid #5924ec;
}
.services__grid__item i span {
  position: absolute;
  width: 8rem;
  height: 8rem;
  background-color: transparent;
  z-index: -2;
  border-radius: 50%;
  transition: 0.5s ease;
  border: 1px solid transparent;
}

.design {
  background-color: #f3f3f3;
  padding: 10rem 0;
}
.design__griditem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 8rem;
  gap: 8rem;
}
.design__griditem ul {
  margin-bottom: 2rem;
}
.design__griditem ul li {
  margin-bottom: 1rem;
}
.design__griditem img {
  height: 27rem;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.design__griditem:last-child .design__img {
  order: 2;
}
.design__griditem:last-child .design__content {
  order: 1;
}

.testimonial__item {
  text-align: center;
  padding: 5rem 0;
}
.testimonial__item img {
  height: 8rem;
  width: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 1rem;
}
.testimonial__item ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.testimonial__item ul i {
  color: orange;
}
.testimonial__item span {
  display: block;
}

.mobile {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7)), url("http://ydirection.com/Destiny/assets/images/feature_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10rem;
}
.mobile__wrap {
  min-height: 54rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.mobile__content {
  max-width: 64rem;
  width: 100%;
}
.mobile__content h5 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.mobile__content > * {
  color: #060606;
}

.stats {
  margin-bottom: 10rem;
}
.stats__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.stats__item {
  text-align: center;
}
.stats__item i {
  color: #5924ec;
  font-size: 3.5rem;
}
.stats__item h5 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.stats__item p {
  font-size: 2rem;
}

.price {
  padding: 10rem 0;
  background-color: #f3f3f3;
  margin-bottom: 5rem;
}
.price__header {
  text-align: center;
  max-width: 76rem;
  width: 100%;
  margin: 0 auto;
}
.price__grid {
  padding: 0rem 5rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.price__item {
  padding: 6rem 4rem;
  text-align: center;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.08);
  max-width: 35rem;
  width: 100%;
  border: 1px solid #dadada;
}
.price__item i {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.price__item h2 {
  font-size: clamp(4rem, 6vw, 4rem);
  margin-bottom: 2rem;
}
.price__item ul {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.price__item ul li {
  text-align: center;
  margin-bottom: 1rem;
}

.client {
  margin-bottom: 5rem;
}
.client img {
  height: 100px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.subscribe {
  padding: 10rem;
  text-align: center;
  background-color: #f3f3f3;
  margin-bottom: 8rem;
}
.subscribe__content {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
}
.subscribe form {
  display: flex;
  justify-content: center;
}
.subscribe input {
  padding: 1.2rem 1.6rem;
  max-width: 34rem;
  width: 100%;
}
.subscribe button {
  border: 1px solid #5924ec;
}/*# sourceMappingURL=main.css.map */