@use '../abstract' as *;



.banner {   
    @include backgroundTinted('http://ydirection.com/Destiny/assets/images/hero3.jpg');
    min-height: 80vh;
    background-position: center, center;
    margin-bottom: 10rem;
    &__content {
        position: absolute;
        left: calc((100vw - 1200px) / 2 );
        top: 50%;
        transform: translateY(-60%);
        max-width: 56rem;
        color: $clr-light;
        p {
            color: $clr-light;
        }
    }
    
}

.services {
    &__header {
        text-align: center;
        max-width: 85rem;
        width: 100%;
        margin: 0 auto;
    }

    &__grid {
        @include grid(3, 4rem);
        margin: 8rem 0;
    }    

    &__grid__item {
        text-align: center;
        isolation: isolate;
        i {
            width: 6rem;
            height: 6rem;
            @include flex(center, center);
            margin: 2rem  auto;
            border-radius: 50%;
            color: $clr-light;
            font-size: 3rem;
            background-color: $clr-accent;
            position: relative;
            margin-bottom: 3rem;
            &:hover span {
                border: 1px solid $clr-accent;
            }
            span {
                position: absolute;
                width: 8rem;
                height: 8rem;
                background-color: transparent;
                z-index: -2;
                border-radius: 50%;
                transition: .5s ease;
                border: 1px solid transparent;
            }
        }
    }
}

.design {
    background-color:$clr-gray;
    padding: 10rem 0;
    &__griditem {
        @include grid(2);
        margin-bottom: 8rem;
        gap: 8rem;
        ul {
            margin-bottom: 2rem;
            li {
                margin-bottom: 1rem;
            }
        }
        img {
            @include imgCover(80%, 27rem)
        }
    }
    &__griditem:last-child {
        .design__img {
            order: 2;
        }

        .design__content {
            order: 1;
        }
    }
}

.testimonial {
    &__item {
        text-align: center;
        padding: 5rem 0;
        img {
            @include imgCover(8rem, 8rem);
            border-radius: 50%;
            margin: 0 auto 1rem;
        }
        ul {
            @include flex(center, center);
            margin-top: 1rem;
            i {
                color: orange;
            }
        }
        span {
            display: block;
        }
    }
}

.mobile {
    @include backgroundTinted('http://ydirection.com/Destiny/assets/images/feature_bg.jpg', (rgba(255,255,255,0.4), rgba(255,255,255,0.7)));
    margin-bottom: 10rem;
    &__wrap {
        min-height: 54rem;
        @include flex(flex-start, center)
    }
    &__content {
        max-width: 64rem;
        width: 100%;
        h5 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }
    &__content > * {
        color: $clr-dark;
        
    }
    
}

.stats {
    margin-bottom: 10rem;
    &__grid {
        @include grid(4);
    }
    &__item {
        text-align: center;
        i {
            color: $clr-accent;
            font-size: 3.5rem;
        }

        h5 {
            font-size: 4rem;
            margin-bottom: 1rem;
        }
        p {
            font-size: 2rem;
        }
    }


}

.price {
    padding: 10rem 0 ;
    background-color: $clr-gray;
    margin-bottom:5rem;
    &__header {
        text-align: center;
        max-width: 76rem;
        width: 100%;
        margin: 0 auto;
    }

    &__grid {
        padding: 0rem 5rem;
        display: flex;
        justify-content: center;
        gap: 10rem;   
    }

    &__item {
        padding:  6rem 4rem;
        text-align: center;
        box-shadow: 2px 3px 5px rgba(0,0,0,0.08);
        max-width: 35rem;
        width: 100%;
        border: 1px solid darken($clr-gray,10);
        i {
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        h2 {
            font-size: clamp(4rem, 6vw, 4rem);
            margin-bottom: 2rem;
           
        }
        ul {
            margin-top: 2rem;
            margin-bottom: 3rem;
            li {
                text-align: center;
                margin-bottom: 1rem;
            }
        }
    }
}

.client {
    margin-bottom: 5rem;
    img {
        @include imgCover(300px, 100px)
    }

}

.subscribe {
    padding: 10rem;
    text-align: center;
    background-color: $clr-gray;
    margin-bottom: 8rem;
    &__content {
        max-width: 72rem;
        width: 100%;
        margin: 0 auto;
    }

    form {
        display: flex;
        justify-content: center;
    }

    input {
        padding: 1.2rem 1.6rem;
        max-width: 34rem;
        width: 100%;
    }

    button {
        border: 1px solid $clr-accent;
    }
}