@use "../abstract" as *;
@use "./typography" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: $ff-primary;
  font-size: 1.6rem;
  line-height: 1.4;
  color: $clr-dark;
}

a {
  color: $clr-body;
  text-decoration: none;
}

p {
  margin-bottom: 1.6rem;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}
